{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>User: {{ user.username }}</h1>
    <p><b>Contact info:</b></p>
    <p>&emsp;Fullname: {{ user.fullname }}</p>
    <p>&emsp;Email: {{ user.email }}</p>
    <p>&emsp;Phone number: {{ user.phone_number }}</p>
    <hr>
    <div class="container">
        <div class="btn-group">
            {% if current_user.is_teacher() or user == current_user %}
                <a href="{{ url_for('update', username=user.username) }}">
                    <button type="button" class="btn btn-primary btn-lg">
                        Edit
                    </button>
                </a>
            {% endif %}
            {% if form%}
                <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#send">
                    Send message
                </button>
                <div id="send" class="collapse">
                    <div class="row">
                        <div class="col-md-4">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#view">
                    Show messages
                </button>
                <div id="view" class="collapse">
                    <div data-spy="scroll" data-offset="50">
                        <div style="height:240px;border:1px solid #ccc;overflow:auto">
                            {% for message in messages %}
                                {% include "_message.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
    
{% endblock %}